#lescours{
    div{
        border-right: 2px solid #000;
        border-left: 1px solid #000;
        width: 70rem;
        line-height: 3rem;
        text-align: center;
        user-select: none;
        div{
            background-color: #888;
            border-top: 2px solid #000;
        }
        div+div{
            background-color: #ccc;
        }
    }
    #line {
        margin: auto;
    }
    width: 70rem;
    margin: auto;
    border-bottom: 2px solid #000;
}

