<!-- <nav>
    <a routerLink="/demopipe">Demo Pipes</a>
    <a routerLink="/chrono">Chrono</a>
    <a routerLink="/exo-directives/cours">Cours-exo</a>
    <a routerLink="/demodialogue">Demo Dialogue</a>
    <a routerLink="/shopping">Shopping</a>
    <a routerLink="/reactive-form">Formulaire</a>
    <a href="">Refresh</a>
</nav> -->

<nav id="menu_horizontal">
    <ul>
        <li><a routerLink="/demos/hello">hello</a></li>
        <li><a routerLink="/exos">link1</a></li>
        <li><a routerLink="">link1</a></li>
        <li><a routerLink="">link1</a></li>
        <li><a routerLink="">link1</a></li>
    </ul>
</nav>
<main id="main">
    <router-outlet></router-outlet>
</main>
